{% extends 'base.html' %}

{% block content %}

<h1>상품 등록 페이지</h1>

<!--<a href="{% url 'app:login' %}" class="btn btn-primary">로그인</a>-->

{% if user.is_authenticated %}
    안녕하세요. {{ user.username }}님!
    <a href="{% url 'account_logout' %}" class="btn btn-primary">logout</a>
{% else %}
  <p>로그인 되어 있지 않습니다.</p>
  <a href="{% url 'account_login' %}" class="btn btn-primary">login</a>
{% endif %}


<div class = "row">
    {% for item in products_html %}
        <div class="card" style="width: 18rem;">
            {% if item.image %}
            <img src="{{item.image.url}}" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text">{{item.price}}<br>{{item.description}}</p>
            </div>
        </div>
    {% endfor %}
</div>
<a href="{% url 'app:register' %}" class="btn btn-primary">상품 등록</a>


{% endblock %}